Source: cocaine-worker-nodejs
Section: utils
Priority: extra
Maintainer: Dmitry Unkovsky <diunko@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.13), libcocaine-dev (>= 0.10.0), npm (>= 1.1.70-1), nodejs (>= 0.8.14-1)
Standards-Version: 3.9.1
Vcs-Git: git://github.com/diunko/no-cocaine.git
Vcs-Browser: https://github.com/diunko/no-cocaine

Package: cocaine-worker-nodejs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2, nodejs (>= 0.8.14-1)
Description: Cocaine - Node.js Worker
 Cocaine Node.js worker package.

